body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color:#e6e1e1;
}

.container{
    position: relative;
    width: 350px;
    height: 350px;
    background-color: rgba(32, 37, 36, 0.5);
    /* border: 10px solid rgba(82, 26, 26, 0.521); */
    border-radius: 50%;
    box-shadow: 0px 10px 30px rgba(49, 195, 221, 0.5); 
    transform: translateY(-5px); 
    /* transition: all 0.3s ease-in-out; */
    backdrop-filter: blur(10px);
    
}

.clock{
    position: absolute;
    top: 165px;
    left: 165px;
    width: 25px;
    height: 25px;
    /* background-color: aliceblue; */
    margin: auto;
    background-color:rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    
}
.createdBy{
    width: 80px;
    height: auto;
    text-align: center;
    font-style: italic;
    /* background-color: black; */
    position: absolute;
    font-size: 15px;
    top: 60px;
    left: 137px;
    /* opacity: 0.7; */
    font-family: cursive ;
    color: rgb(87, 69, 37) ;
}

.numbers {
    width: 15px;
    height: 35px;
    color: rgba(202, 191, 191, 0.925);
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    transform: translate(-50%, -50%);
    
    --angle: calc((var(--i) * 30deg) - 90deg); 
    top: calc(50% + 160px * sin(var(--angle)));
    left: calc(50% + 160px * cos(var(--angle)));
  }

.hand{
    position: absolute;
    top: 14px;
    left: 11px;
}
.hours-hand{
    background-color: rgb(26, 89, 161);
    width: 4px;
    height: 90px;
    transform-origin: top;

}
.minutes-hand{
    background-color: black;
    width: 4px;
    height: 115px;
    transform-origin: top;

}

.seconds-hand{
    background-color: rgb(223, 32, 32);
    width: 4px;
    height: 130px;
    transform-origin: top;

}


